<app-header></app-header>

<div class="w-full">
  <div class="grid grid-cols-12 md:gap-9 sm:gap-3 mt-5">
    <div class="md:col-span-3 sm:col-span-12 col-span-12">
        <!-- Route link -->
        <a
        class="flex items-center text-blue-600 text-lg font-semibold"
        routerLink="/">
          <span class="material-icons mr-2">
            keyboard_backspace
          </span>

          Back  to search
        </a>

        <h2 class="my-5 text-base uppercase text-gray-400 font-semibold">how to apply</h2>

        <p class="text-blue-900 md:text-lg sm:text-base text-base font-semibold md:flex md:flex-wrap">
          Please email a copy of your resume and online portafolio to <span class="text-blue-600 mr-1">wes@kasisito.com </span> & CC <span class="text-blue-600">eric@kasisto.com</span>
        </p>

    </div>

    <div class="md:col-span-9 sm:col-span-12 col-span-12">

      <div class="md:ml-5">
        <!-- header details job -->
        <div class="grid grid-cols-12">
          <div class="md:col-span-9 sm:col-span-12 col-span-12">
            <h1 class="md:text-3xl sm:text-2xl text-2xl text-blue-900 font-extrabold">Front-End Software Engineer</h1>
          </div>

          <div class="md:col-span-3 sm:col-span-12 col-span-12 sm:mt-2 mt-2">
            <button class="border-2 px-3 py-1 text-indigo-900 text-sm font-semibold border-indigo-900 rounded-md">Full time</button>
          </div>
        </div>

        <p class="flex items-center text-gray-400 mt-3 sm:text-sm text-sm font-semibold">
          <span class="material-icons mr-2">
            access_time_filled
          </span>

          5 days ago
        </p>
        <!-- end header -->

        <!-- Logo company -->
        <div class="grid grid-cols-12 gap-5 mt-4">
          <div class="md:col-span-1 sm:col-span-3 col-span-3">
            <div class="h-full">
              <figure>
                <img
                class="w-full"
                src="https://placeit-assets1.s3-accelerate.amazonaws.com/custom-pages/technology-logo-maker/online-logo-design-template-for-an-eco-tech-company-2176l-206-el-1024x1024.png"
                alt="Logo de la empresa">
              </figure>
            </div>
          </div>
          <div class="md:col-span-3 sm:col-span-5 col-span-5">
            <h2 class="text-indigo-900 text-base font-semibold mb-1">Bloomenergy</h2>
            <p class="flex items-center text-gray-400 text-sm font-semibold">
              <span class="material-icons mr-2">
                public
              </span>

              New York
            </p>
          </div>
        </div>
        <!-- end logo -->
      </div>

      <!-- Info -->
      <!-- Content body -->

      <section class="text-indigo-900 md:text-lg sm:text-sm text-sm font-normal">
        <h3 class="my-10">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, voluptate.</h3>

        <p class="mb-5">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ea alias itaque sequi expedita.
          Laudantium officiis deleniti a pariatur quasi, aspernatur accusamus? Itaque libero, in sint cumque alias veritatis repudiandae nihil quis. Minus dolorum voluptate maiores consequatur nihil tempore pariatur. Possimus facere perspiciatis nesciunt excepturi magni fugiat ipsum aliquam suscipit.
        </p>

        <p class="mb-5">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ea alias itaque sequi expedita. Laudantium officiis deleniti a pariatur quasi, aspernatur accusamus? Itaque libero, in sint cumque alias veritatis repudiandae nihil quis. Minus dolorum voluptate maiores consequatur nihil tempore pariatur. Possimus facere perspiciatis nesciunt excepturi magni fugiat ipsum aliquam suscipit.
        </p>
      </section>

    </div>
  </div>
  <!-- Header -->


</div>

