<div class="flex justify-center items-center bg-gray-200 px-4 py-10 rounded-md bg-cover"
style="background-image: url('./../../../assets/img/backgroundImg.png');">
  <form class="md:w-8/12 sm:w-11/12 w-11/12">
    <div class="flex items-center">
      <span class="material-icons -mr-10 z-20 text-gray-400">
        work
      </span>

      <input type="text" name="job-search" id="job-search"
      class="md:w-full w-screen md:h-14 sm:h-12 h-12 sm:text-sm text-sm border rounded-md px-12 font-medium placeholder-gray-400 focus:outline-none focus:border-gray-300"
      placeholder="Title, companies, expertise or benefits"
      >
      <button class="-ml-28 bg-blue-500 sm:text-sm text-sm text-gray-100 md:h-12 sm:h-10 h-10 px-7 font-semibold rounded-md hover:bg-blue-700">Search</button>
    </div>
  </form>
</div>
