<div>
  <form id="fulltime">
    <div class="flex items-center">
      <input type="checkbox"
        class="md:h-5 h-4 md:w-5 w-4 text-indigo-600 mr-3 focus:ring-indigo-500 border-gray-300 rounded"
        name="fulltime" id="fulltime">

      <label for="fulltime" class="text-indigo-900 md:text-lg text-base font-semibold">
        Full time
      </label>
    </div>
  </form>

  <h3 class="mt-5 md:text-base sm:text-sm text-sm uppercase text-gray-400 font-semibold">Location</h3>

  <form class="my-3">
    <div class="w-full flex items-center">
      <span class="material-icons absolute ml-3 text-gray-400">
        public
      </span>
      <input type="text"
      class="w-full px-10 md:py-4 sm:py-3 py-3 text-sm font-normal rounded-md shadow-sm border placeholder-gray-400 placeholder-opacity-90 focus:outline-none focus:border-gray-300"
      placeholder="City, state, zip code or country"
      >
    </div>
  </form>

  <form class="text-indigo-900 text-lg font-semibold">
    <div class="flex items-center mb-3">
      <input type="radio"
        class="md:h-5 h-4 md:w-5 w-4 text-indigo-600 mr-3 focus:ring-indigo-500 border-gray-300 rounded"
        name=""
        id="">
      <label for="" class="sm:text-base text-base">London</label>
    </div>

    <div class="flex items-center mb-3">
      <input type="radio"
      class="md:h-5 h-4 md:w-5 w-4 text-indigo-600 mr-3 focus:ring-indigo-500 border-gray-300 rounded"
      name="" id="">
      <label for="" class="sm:text-base text-base">Amsterdam</label>
    </div>

    <div class="flex items-center mb-3">
      <input type="radio"
      class="md:h-5 h-4 md:w-5 w-4 text-indigo-600 mr-3 focus:ring-indigo-500 border-gray-300 rounded"
      name="" id="">
      <label for="" class="sm:text-base text-base">New York</label>
    </div>

    <div class="flex items-center mb-3">
      <input type="radio"
      class="md:h-5 h-4 md:w-5 w-4 text-indigo-600 mr-3 focus:ring-indigo-500 border-gray-300 rounded"
      name="" id="">
      <label for="" class="sm:text-base text-base">Berlin</label>
    </div>
  </form>
</div>
